* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--body-bg);
}

.unclick{
  pointer-events: none;
}

.banner{
  text-align: center;
  margin-top: 72px;
  margin-bottom: 32px;
}
.search-select{
  height: 100%;
  border: none;
  outline: none;
  color: var(--search-font);
  background-color: transparent;
}
.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 10px auto 50px auto;
  padding: 0 16px;
  width: 482px;
  transition: all .3s ease;
  border-color: var(--input-border);
  background-color: var(--input-bg);
}
.input-box:hover {
  box-shadow: 0 2px 12px -4px rgb(115, 206, 113, .64);
}
.input-box .icon {
  margin-top: 3px;
  height: 20px;
  width: 20px;
}
.input-box .icon svg {
  width: 100%;
  height: 100%;
  fill: var(--input-icon);
}

.input-box input {
  background-color: transparent;
  color: var(--input-font);
  padding: 0 12px;
  height: 34px;
  border: none;
  outline: none;
  flex: 1;
}

#bookmark, #collect {
  background-color: var(--body-bg);
  width: 1200px;
  margin: 0 auto;
}
#bookmark {
  margin-bottom: 64px;
}
.bookmark-folder {
  border-bottom: 1px solid #eee;
  border-color: var(--folder-botton);
}
.bookmark-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 12px 0;
  border-radius: 8px;
  padding: 18px;
  transition: all .3s ease;
  background-color: var(--item-bg);
  color: var(--header-font);
}
.bookmark-header:hover{
  background-color: var(--header-bg-hover);
}
.bookmark-title{
  user-select: none;
}
.btn-collapse {
  color: #999;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 6px solid #73ce71;
  margin-right: 8px;
  transform: translateY(3px);
  user-select: none;
  transition: all .3s ease;
}
.btn-collapse--act {
  transform: rotate(-90deg) translateY(3px);
}

.bookmark-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
.bookmark-li {
  width: 25%;
  position: relative;
}
.bookmark-item {
  position: relative;
  z-index: 1;
  margin: 12px 10px;
  padding: 32px 24px 16px;
  border: 1px solid #eee;
  border-radius: 14px;
  cursor: pointer;
  transition: all .3s ease;
  border-color: var(--item-border);
}
.bookmark-item::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 14px;
  top: 0;
  left: 0;
  filter: blur(0);
  z-index: -2;
  transition: all ease .3s;
  background-color: rgba(118, 192, 136, 0.39);
}
.bookmark-item-bg{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background-color: var(--item-bg);
}
.bookmark-item:hover {
  transform: translateY(-8px) scale(1.03);
  border-color: rgba(115, 206, 113, .48);
}
.bookmark-item:hover::before{
  transform: translateY(10px) scaleX(0.8);
  filter: blur(8px);
}
@keyframes fadeIn{
  0%{
    transform: scale(0.3) ;
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.bookmark-item .icon{
  transition: all .5s ease;
}
.bookmark-item .icon:hover{
  transform: rotate(144deg);
}
.bookmark-item-title {
  display: flex;
  align-items: center;
  user-select: none;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  font-size: 14px;
}
.bookmark-item-title > .ellipsis {
  font-size: 15px;
  color: var(--item-title);
}
.bookmark-item-title img{
  width: 16px;
  height: 16px;
  padding: 4px;
  margin-right: 16px;
  border-radius: 100%;
  border: 1px solid #eee;
  border-color: var(--item-border);
}
.bookmark-item-url {
  color: var(--item-url);
  margin-top: 14px;
  user-select: none;
}

.bookmark-item >.icon-top {
  position: absolute;
  top: 0;
  left: 22px;
}
.bookmark-item >.menu {
  position: absolute;
  top: 18px;
  right: 20px;
}
.bookmark-item .icon {
  width: 15px;
  height: 15px;
}
.bookmark-item .del-icon {
  width: 15px;
  height: 15px;
}

.bookmark-info {
  display: flex;
  margin-top: 14px;
  justify-content: space-between;
}
.bookmark-info > p {
  color: #999;
}

.no-data {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}
.no-data img{
  width: 60px;
  height: 60px;
}
.no-data p{
  color: #999;
  font-size: 13px;
}

@media (max-width: 1280px) {
  #bookmark,#collect {
    width: 90%;
  }
  .bookmark-li {
    width: 33.33%;
  }
}
@media (max-width: 1024px) {
  #bookmark,#collect {
    width: 90%;
  }
  .bookmark-li {
    width: 50%;
  }
}
@media (max-width: 640px) {
  #bookmark,#collect {
    width: 90%;
  }
  .bookmark-li {
    width: 100%;
  }
}