.form {
  position: absolute;
  top: 32px;
  left: 72px;
}
.form-item {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 44px;
  height: 44px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.form-item.mode-open, .form-item:hover {
  background-color: #eaeaea;
}
[color-mode=dark] .form-item.mode-open, [color-mode=dark] .form-item:hover {
  background-color: #414F5F;
}
.form-item > svg {
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  left: 6px;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.form-item > .icon-auto {
  background: #a7d9ad;
  fill: #f6f6f6;
  z-index: 3;
}
.form-item > .icon-light {
  background: #F5D158;
  fill: #EB8342;
  z-index: 2;
}
.form-item > .icon-dark {
  background: #2B3A41;
  fill: #DAF5F5;
  z-index: 1;
}
.mode-open {
  height: 120px;
}
.mode-open svg {
  opacity: 1;
}
.mode-open .icon-light {
  transform: translateY(calc(100% + 6px));
  -webkit-transform: translateY(calc(100% + 6px));
  -moz-transform: translateY(calc(100% + 6px));
  -ms-transform: translateY(calc(100% + 6px));
  -o-transform: translateY(calc(100% + 6px));
}
.mode-open .icon-dark {
  transform: translateY(calc(200% + 12px));
  -webkit-transform: translateY(calc(200% + 12px));
  -moz-transform: translateY(calc(200% + 12px));
  -ms-transform: translateY(calc(200% + 12px));
  -o-transform: translateY(calc(200% + 12px));
}
[color-mode=auto] .icon-auto {
  z-index: 9;
  opacity: 1;
}
[color-mode=light] .icon-light {
  z-index: 9;
  opacity: 1;
}
[color-mode=dark] .icon-dark {
  z-index: 9;
  opacity: 1;
}

/* setting-box */
.setting {
  user-select: none;
}
.setting-icon {
  display: none;
  position: absolute;
  right: 72px;
  top: 32px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 10px;
}
.setting-icon #svg-icon {
  fill: var(--setting-icon);
}
.setting-box {
  display: none;
  position: absolute;
  z-index: 99;
  right: 110px;
  top: 56px;
  width: 320px;
  border-radius: 12px;
  background-color: var(--item-bg);
  border: 1px solid #f6f6f6;
  border-color: var(--item-border);
  border-color: rgba(115, 206, 113, .48);
}
.setting-box::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 14px;
  top: 0;
  left: 0;
  transform: translateY(10px) scaleX(0.8);
  filter: blur(8px);
  z-index: -2;
  transition: all ease .3s;
  background-color: rgba(118, 192, 136, 0.39);
}
.setting-box-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background-color: var(--item-bg);
}
.setting-box > .box-header {
  display: flex;
  align-items: center;
  padding: 24px 42px;
  border-bottom: 1px solid #eee;
  border-color: var(--setting-line);
}
.setting-box > .box-header img {
  height: 32px;
  width: 32px;
  border-radius: 12px;
  margin-right: 18px;
  background-color: #333;
  box-shadow: 0 4px 6px rgba(137, 140, 144, .25);
}
.setting-box > .box-header p {
  font-size: 15px;
  color: var(--item-title);
}
.setting-box > .box-content {
  padding: 6px 42px;
  font-size: 14px;
}
.setting-box > .box-content > .box-item {
  padding: 24px 0;
  color: var(--item-title);
}
.setting-box > .box-content > .box-item:not(:last-child) {
  border-bottom: 1px solid #eee;
  border-color: var(--setting-line);
}
.setting-box > .box-content .item-li {
  display: flex;
  justify-content: space-between;
}
.setting-box > .box-content .item-li:not(:last-child) {
  margin-bottom: 12px;
}
