.select-container {
  display: inline-block;
  position: relative;
  user-select: none;
}
.select-container .select-value {
  position: relative;
  color: var(--header-font);
  font-size: 14px;
  cursor: default;
  display: flex;
  align-items: center;
}
.select-container .select-value svg {
  fill: var(--item-url);
  margin-top: 3px;
  transition: all ease 0.5s;
}
.select-container.show .select-options {
	max-height: 140px !important;
}
.select-container.show svg {
  transform: rotate(180deg);
}
.select-container .select-options {
  position: absolute;
  margin-top: 13px;
  color: var(--input-bg);
  border-radius: 4px;
  box-shadow: 0 2px 12px -4px rgb(115, 206, 113, 0.64);
  z-index: 9;
  left: 0;
  transform: translateX(-25%);
	background-color: var(--body-bg);
	max-height: 0;
	transition: all ease .5s;
	overflow: hidden;
}
.select-container .select-options .select-option {
  color: var(--item-title);
  font-size: 14px;
  text-align: center;
  padding: 8px 5px;
  cursor: pointer;
  transition: 0.2s all;
  min-width: 100px;
}
.select-container .select-options .select-option:hover {
  background-color: var(--header-bg-hover);
}
