:root, [color-mode=light] {
  --body-bg: #fff;
  --input-border: #dfe1e5;
  --input-bg: #fff;
  --input-font: #333;
  --input-icon: #9aa0a6;
  --search-font: #333;
  --item-menu: #9aa0a6;
  --item-menu-bg: #fff;
  --item-menu-border: #eee;
  --item-menu-li: #333;
  --item-menu-li-bg: #f6f6f6;
  --item-border: #eee;
  --item-bg: #fff;
  --header-font: #666;
  --header-bg-hover: #f3fbf3;
  --item-title: #333;
  --item-url: #777;
  --folder-botton: #eee;
  --setting-line: #eee;
  --setting-icon: #555;
  --switch-bg: #eaeaea;
  --switch-checked-bg: #64bd63;
  --switch-icon-bg: #fff;
}
[color-mode=dark] {
  --body-bg: #323336;
  --input-border: #555;
  --input-bg: rgba(255, 255, 255, 0.04);
  --input-font: #dfdfdf;
  --input-icon: rgba(255, 255, 255, 0.88);
  --search-font: #d2d2d2;
  --item-menu: #dedede;
  --item-menu-bg: #323336;
  --item-menu-border: #333;
  --item-menu-li: #dfdfdf;
  --item-menu-li-bg: #555;
  --item-border: #333;
  --item-bg: #222;
  --header-font: #d2d2d2;
  --header-bg-hover: rgba(34, 34, 34, 0.42);
  --item-title: #dedede;
  --item-url: #dfdfdf;
  --folder-botton: transparent;
  --setting-line: #555;
  --setting-icon: #dedede;
  --switch-bg: #2F2F2F;
  --switch-checked-bg: #64bd63;
  --switch-icon-bg: #222;
}

/* 如果浏览器支持自动切换黑暗模式特性 */
@media (prefers-color-scheme: dark) {
  /* 深色模式样式 */
  :root {
    --body-bg: #323336;
    --input-border: #555;
    --input-bg: rgba(255, 255, 255, 0.04);
    --input-font: #dfdfdf;
    --input-icon: rgba(255, 255, 255, 0.88);
    --search-font: #d2d2d2;
    --item-menu: #dedede;
    --item-menu-bg: #323336;
    --item-menu-border: #333;
    --item-menu-li: #dfdfdf;
    --item-menu-li-bg: #555;
    --item-border: #333;
    --item-bg: #222;
    --header-font: #d2d2d2;
    --header-bg-hover: rgba(34, 34, 34, 0.42);
    --item-title: #dedede;
    --item-url: #dfdfdf;
    --folder-botton: transparent;
    --setting-line: #555;
    --setting-icon: #dedede;
    --switch-bg: #2F2F2F;
    --switch-checked-bg: #64bd63;
    --switch-icon-bg: #222;
  }
  [color-mode=light] {
    --body-bg: #fff;
    --input-border: #dfe1e5;
    --input-bg: #fff;
    --input-font: #333;
    --input-icon: #9aa0a6;
    --search-font: #333;
    --item-menu: #9aa0a6;
    --item-menu-bg: #fff;
    --item-menu-border: #eee;
    --item-menu-li: #333;
    --item-menu-li-bg: #f6f6f6;
    --item-border: #eee;
    --item-bg: #fff;
    --header-font: #666;
    --header-bg-hover: #f3fbf3;
    --item-title: #333;
    --item-url: #777;
    --folder-botton: #eee;
    --setting-line: #eee;
    --setting-icon: #555;
    --switch-bg: #eaeaea;
    --switch-checked-bg: #64bd63;
    --switch-icon-bg: #fff;
  }
}